.intro {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 656px;
  margin: 0 auto;

  &__wrapper {
    position: relative;
    display: flex;
    height: 656px;
    background-color: $color-surface;
    padding: 0 0 0 165px;
  }

  &__title {
    font-size: 56px;
    font-family: $PublicSans;
    font-weight: 300;
    color: $color-heading;
    line-height: 1.14;
    padding: 170px 73px 24px 0;
    margin: 0;
  }

  &__text {
    font-size: 18px;
    font-family: $PublicSans;
    color: $color-text;
    margin: 0;
    padding: 0 28px 36px 0;
    line-height: 1.5;
    width: 100%;
    max-width: 447px;
  }

  &__button {
    @include button;
  }

  &__images {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
  }

  &__image-bg {
    position: relative;
    height: auto;
    top: -260px;
    right: 70px;
  }

  &__image-phones {
    position: absolute;
    right: -130px;
    top: -120px;
    height: auto;
    z-index: 2;
  }
}
