@charset "utf-8";

@import 'base/colors';
@import 'base/customFonts';
@import 'base/button';
@import 'modules/header';
@import 'modules/navigation';
@import 'modules/intro';
@import 'modules/main';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
